.form-review {
  background: transparent;
}

.form-review__fieldset {
  padding: 0;
  padding-top: 20px;
  margin: 0;
  background: transparent;
  border: none;
}

.form-review__title {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  padding: 0;
}

.form-review__label {
  .text-parametr(14px; 400; 26px);
  color: @extra-black;
}

.label-text-bigger {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  color: @basic-black;
}

.form-review__input,
.form-review__textarea {
  font-family: inherit;
  .text-parametr(18px; 700; 26px);
  color: @basic-black;
  text-transform: none;
  border: none;
  background: @basic-grey;
  padding-left: 22px;
}

.form-review__textarea {
  padding: 12px 21px;
}

.form-review__button {
  font-family: inherit;
  .text-parametr(21px; 700; 26px);
  color: @basic-white;
  padding: 18.5px 32px 13.5px 32px;
  border: none;
  background: @basic-blue;
}

.form-review__desc-required {
  .text-parametr();
  color: @extra-black;
}
