.gallery__list {
  .clear-list();
  .text-parametr(14px; 700; 24px);
  padding: 0 20px;
}

.gallery__author {
  color: @extra-black;
  font-weight: 400;
  text-transform: none;
}

.gallery__name-image,
.gallery__author,
.gallery__number-likes {
  margin: 0;
  padding: 0;
}

.gallery__likes {
  display: flex;
  align-items: center;
}

.gallery__likes-button {
  border: none;
  background-color: transparent;
  margin-right: 14px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;
  }

  .gallery__item:first-of-type {
    width: 100%;
  }


  .gallery__image-info {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }

  .gallery__likes-button {
    margin-right: 9px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    padding: 0;
  }

  .gallery__item {
    width: calc(100% / 3);
    position: relative;
  }

  .gallery__image-info {
    width: 100%;
    padding-right: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    color: @basic-white;
    background-color: fade(@basic-black, 30%);
  }

  .gallery__image-desc {
    margin-left: 21px;
  }

  .gallery__author {
    color: @basic-white;
  }

  .gallery__likes {
    margin-right: 25px;
  }

  .gallery__likes-button-icon path {
    fill: @basic-white;
    opacity: 1;
  }
}
