.gallery__list {
  .clear-list();
  .text-parametr(14px; 700; 24px);
}

.gallery__author {
  color: @extra-black;
  font-weight: 400;
  text-transform: none;
}

.gallery__name-image,
.gallery__author,
.gallery__number-likes {
  margin: 0;
  padding: 0;
}
