.interesting {
  background-color: @basic-white;
  padding-top: 32px;
  padding-bottom: 49px;
  text-align: center;
}

.interesting__title {
  .text-parametr(21px; 700; 26px);
  margin: 0;
  margin-bottom: 10px;
}

.interesting__desc {
  .text-parametr();
  margin: 0;
  margin-bottom: 27px;
}

.interesting__link-search {
  .text-parametr(21px; 700; 26px);
  color: @basic-white;
  padding: 14.5px 32px 17.5px 32px;
  background-color: @basic-blue;
}
