.intro {
  background-color: @basic-white;
  padding-top: 32px;
  padding-bottom: 27px;
}

.intro__slogan {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 26px;
}

.intro__info {
  .text-parametr();
  margin: 0;
}
