.intro {
  background-color: @basic-white;
  padding-top: 32px;
  padding-bottom: 27px;
  text-align: center;
}

.intro__slogan {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 26px;
}

.intro__info {
  .text-parametr();
  margin: 0;
}

@media (min-width: @tablet-width) {
  .intro__slogan {
    font-size: 21px;
  }

  .intro__slogan--big-text {
    font-size: 30px;
  }
}
