.main-nav__list {
  .clear-list();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  @media (min-width: @tablet-width) {
    width: 159px;
  }

  @media (min-width: @tablet-width) {
    width: 239px;
  }
}

.main-nav__link {
  .text-parametr(18px; 700; 40px);
  color: @basic-white;
  background-color: @basic-blue;
  padding: 10px 0 5px 0;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    background-color: transparent;
  }
}

.main-nav__toggle {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
