.page-header {
  position: relative;
  background-color: @basic-white;
  padding-top: 54px;
}

.page-header__logo {
  position: absolute;
  z-index: 5;
  bottom: -35px;
  left: calc(50% - 50.5px);
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 0;
  }

  .page-header__logo {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    top: 0;
    left: calc(50% - 93.5px);
  }

  .page-header__logo-image {
    width: 187px;
    height: auto;
  }
}
