.page-footer {
  background-color: @basic-white;
  padding-top: 33.5px;
  padding-bottom: 23px;
  text-align: center;
}

.page-footer__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  .text-parametr(21px; 700; 26px);
  margin: 0;
  margin-bottom: 33.5px;
}

.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 31.5px;
  }

  .page-footer__tag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__tag {
    justify-content: flex-start;
    margin-left: 119px;
  }
}
