.page-footer {
  background-color: @basic-white;
  padding-top: 38.5px;
  padding-bottom: 23px;
}

.page-footer__tag {
  .text-parametr(21px; 700; 26px);
  margin: 0;
  margin-bottom: 33.5px;
}

.page-footer__social {
  margin-bottom: 40px;
}

