.reason {
  color: @basic-white;
}

.reason__info {
  background: @basic-blue;
  padding: 55px 0 39px 0;
}

.reason__title {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 15px;
}

.reason__number,
.reason__desc {
  .text-parametr();
  margin: 0;
}

.reason__number {
  margin-bottom: 15px;
}

