.reasons {
  background-color: @neutral;
  padding-top: 25px;
}

.reasons__list {
  .clear-list();
}

.reasons__item {
  padding-bottom: 24px;
}

.reasons__title {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 10px;
}

.reasons__number,
.reasons__desc {
  .text-parametr();
  margin: 0;
}

.reasons__number {
  margin-bottom: 10px;
}
