.reason {
  color: @basic-white;
}

.reason__info {
  text-align: center;
  background: @basic-blue;
  padding: 55px 13px 39px 13px;
}

.reason__title {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 15px;
}

.reason__title br {
  display: none;
}

.reason__number,
.reason__desc {
  .text-parametr();
  margin: 0;
}

.reason__number {
  margin-bottom: 15px;
}

.reason__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (min-width: @tablet-width) {
  .reason {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .reason__info {
    padding: 40px 32px 44px 32px;
  }

  .reason__title {
    font-size: 21px;
  }

  .reason__title br {
    display: inline;
  }

  .reason__number {
    margin-bottom: 23px;
  }

  .reason--right-text {
    grid-template-columns: 2fr 1fr;
  }

  .reason__info--left-info {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: @desktop-width) {
  .reason__info {
    padding: 47px 52px 57px 52px;
  }
}
