.recomendation {
  background-color: @basic-white;
}

.recomendation__list {
  .clear-list();
}

.recomendation__title {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 15px;
}

.recomendation__desc {
  .text-parametr();
  margin: 0;
}
