.review {
  padding: 0 20px 41px 20px;
}

@media (min-width: @tablet-width) {
  .review {
    padding: 67.5px 60px 67px 60px;
  }
}

@media (min-width: @desktop-width) {
  .review {
    padding: 49.5px 120px 69px 120px;
  }
}
