.video {
  text-align: center;
  padding: 32px 0 115px 0;
}

.video__slogan {
  .text-parametr(18px; 700; 26px);
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.video__desc {
  .text-parametr(14px; 400; 24px);
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .video__slogan {
    font-size: 30px;
  }

  .video {
    padding: 53px 60px 40px 60px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 63px 200px 85px 200px;
  }
}
