// colors

@basic-white: #ffffff;
@basic-black: #000000;
@basic-blue: #81b3d2;
@basic-grey: #f2f2f2;
@basic-neutral: #e7e5e5;
@neutral: #eeeeee;
@extra-blue: #669ec0;
@extra-blue-dark: #5496bd;
@extra-grey: #e5e5e5;
@extra-grey-dark: #d5d5d5;
@extra-black: #333333;
@basic-brown: #766357;
@extra-brown: #604e43;

// viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;

// container

@mobile-width-container: 500px;
@tablet-width-container: 900px;
@desktop-width-container: 1200px;
